@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
    width: 0.6rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 5rem;
}

body {
    max-width: 100%;
    position: absolute;
    transition: all 300ms ease-in;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* barre de navigation */

.menu {
    display: none;
}


.logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
}

.dark {
    font-size: 25px;
    margin-right: 20px;
}
nav {
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 1rem;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    font-family: "Playfair Display", serif;
    z-index: 1000;
    box-shadow: 0px 0px 5px 0px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: nav 800ms ease-out ;
}
nav ul {
    display: flex;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 25px;
}

nav ul li {
    list-style-type: none;
    padding: 20px;
    animation: lien 1s  ease-in;

}

nav ul li a:hover {
    color: rgba(62, 158, 255, 0.9);
    transition: color 300ms;
    border-bottom: 3px solid rgba(62, 158, 255, 0.9);
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    font-size: 30px;
}

nav div button a {
    text-decoration: none;
    color: black;
}

div p {
    font-family: 'Montserrat', sans-serif;
}
.active {
    background-color: rgb(0, 20, 40);
    color: white;

    transition: all 400ms cubic-bezier(0.530, 0.480, 0.125, 0.810);
}
.blanc{
    color: #fff;
}
.foot{
    background-color: rgb(0, 20, 40);
    color: #fff;
}
.rotate{
    transform: rotate(180deg);
    transition: transform  1s ease-out;
    color: white;
}
.option button {
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgba(62, 158, 255, 1);
    /* box-shadow: 0px 0px 1px; */
    border: none;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
    animation: button 1s ease-in ;

}

.option button:hover {
    background-color: rgba(62, 158, 255, 0.5);

}

/* ****************************** */

/* entete de page */

header {
    margin: 50px 0px;
    padding-top: 100px;
    background-image: url(img/header.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 5px;
}

header div {
    margin-top: 20px;
    margin-left: 50px;
    color: white;
}

header div span,
.description aside p span {
    color: dodgerblue;
}

header div h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

div h1 {
    font-family: "Playfair Display", serif;
}

div h3 {
    font-family: "Open Sans", sans-serif;
}

header div p {
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
}

header div button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: default;
}

.btn .header-contact {
    border: 1px solid dodgerblue;
    background-color: transparent;
}

.btn .header-contact:hover {
    background-color: rgba(62, 158, 255, 0.9);
}

header .btn {
    display: flex;
    justify-content: center;
}

header .btn button {
    border-radius: 5px;
    background-color: rgba(62, 158, 255, 0.9);
    min-width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    border: 0.3px solid blue;
}

header .btn button:hover {
    border: 1px solid dodgerblue;
    background-color: transparent;
    transition: all 700ms ease-in-out;
}

aside div img,
section img {
    height: 200px;
    width: auto;
}

/* partie servise digitale */
section .services-card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 40px 0px;
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
    animation: services 1s linear 1500ms  both;

}

section .services-card .card {
    display: flex;
    flex-direction: column;
    width:250px;
    flex-grow: 0;
    flex-basis: 150;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0.3px 0.3px 2px darkgray;

}

section .services-card .card:hover {
    transform: translatey(-5px);
    box-shadow: 1px 1px 5px rgba(62, 158, 255, 0.4);
    transition: all 600ms ease-in-out;
}

.card p {
    letter-spacing: 1.3px;
    text-align: left;
    align-items: center;
    padding: 10px;
}

p ion-icon {
    color: #2563EB;
    font-size: 20px;
    padding-bottom: 0px;
}
footer ion-icon{
    color: dodgerblue;
    opacity: 0.7;
}
/* ********************** */
/* ********************** */


section h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: 1px solid rgba(62, 158, 255, 0.5);
    ;
    padding-bottom: 20px;
}

input[type="button"] {
    background-color: rgba(62, 158, 255, 0.9);
    border-radius: 5px;
    border: 0.3px solid;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
}

input[type="button"]:hover {
    border: 0.3px solid rgba(62, 158, 255, 0.9);
    background-color: transparent;
    color: black;
}

.card p span {
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0px;
}

/* partie about */


.description aside {
    display: flex;
    width: 60%;
    outline: none;
    background-color: rgba(175, 175, 175, 0.1);
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 15em;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.3px 2px rgba(175, 175, 175, 0.3);
    max-height: auto;
    border: none;
    animation: aside 5s ease-in;
    animation-direction: reverse;

}

aside div p {
    color: black;
    text-align: left;
    font-size: 30px;
    margin: 10px 70px;
    text-align: center;
}

img {
    border-radius: 5px;
}

.contact button {
    border-radius: 5px;
    background-color: rgba(62, 158, 255, 0.9);
    width: auto;
    padding: 5px 15px;
    margin-bottom: 10px;
    align-items: center;
    border: 0.1px solid rgba(62, 158, 255, 0.9);

}

.contact button:hover {
    border: 1px solid rgba(62, 158, 255, 0.9);
    background-color: transparent;
    transition: all 700ms ease-in-out;

}

.contact a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.contact {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.container div ion-icon{
    padding-top: 30px ;
    position: relative;
    font-size: 40px;
    color: #2563EB;
    opacity: 0.7;
}
.container div ion-icon:hover{
       transform: scale(1.5, 1.5);

}
.container {
    background-color: rgba(175, 175, 175, 0.2);
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 30px 0px;
    flex-wrap: wrap;
    justify-content: center;

}

.container div {
    background-color: rgba(175, 175, 175, 0.5);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    width: 350px;
    text-align: center;
    position: relative;
}

.container img {
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;

}

.container img:hover {
    transform: scale(1.1, 1.1);
}

/* newlester */

.newlester{
    background-image: url("./img/newlester.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}
.newlester div{
    flex-direction: column;
    padding-top: 60px;
    width: 50%;
    float: right;
    position: relative;
}
.newlester h2{
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.newlester form{
    text-align: center;
    align-items: center;
}
.newlester form button{
    text-decoration: none;
    width: 50%;
    background-color: rgba(62, 158, 255, 0.5);

    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    line-height: 30px;
}
.newlester form button:hover{
        background-color: rgba(62, 158, 255, 1);

}
.newlester input{
    line-height: 35px;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    width: 50%;
}
/* petit bas de page simple */

footer {
    background-color: rgb(155, 159, 189);
    align-items: center;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
    border-top: 2px solid rgba(62, 158, 255, 0.9);
    font-weight: 400;
    font-size: 18px;
}
.conn {
    color: red;
}
footer a {
    color: #000;
    margin-left: 10px;
    font-size: 20px;
    justify-content: space-evenly;
}
/* partie responsive */


@media all and (max-width: 899px) {
    .menu {
        display: block; 
        width: auto;
        float: right;
        padding: 0 10px;
    }
    .burger {
        cursor: pointer;
        color: #000;
        font-size: 30px;
    }
    nav div ul {
        display: none;
    }
    nav button .present{
        display: block;
    }

    .present {
        display: block;
        float: right;
        padding: 0;
        margin: 0;
        
    }
    ul.present{
        margin-left:10px;
        padding: 0;
        text-align: center;
    }
    .logo {
        display: block;
    }
    .present li a{
        padding-right: 10px;
        margin: 0px 10px;
        font-size: 20px;
    }
    .present li {
        padding: 5px 0px;
        margin: 0;
        font-size: 15px;
    }

    nav {
        background-color: #fff;
        position: fixed;
        margin-top: 0;
        height: auto;
        display: block;
        width: 100%;
    }

    nav div {
        height: auto;
        width: auto;
        padding: 0;
        margin-left: 0;
    }

    .dark {
        font-size: 15px;
        position: absolute;
        top: 3em;
        left: 7em;
    }
    .option button {
        display: none;
        margin-right: 10px;
        border-radius: 15px;
        padding: 5px;
        border: none;
        width: auto;
        height: auto;
        text-align: center;
        
        text-transform: capitalize;
        font-size: 15px;
        cursor: pointer;
        margin-bottom: 15px;
        
    }
    header div {
        margin-top: 100px;
        margin-left: 0;
        padding-left: 10px;
        width: 100%;
        padding-top: 10px;
    }

    header div h1 {
        letter-spacing: 2px;
        text-align: center;
        font-size: 30px;
    }

    header div p {
        letter-spacing: 1px;
        margin-top: 30px;
        text-align: center;
        font-style: italic;
        font-weight: 500;
        font-size: 20px;

    }

    header {
        margin: 30px 0px;
        padding-top: 50px;
        width: 100%;
        height: auto;
    }

    header .btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header .btn button {
        border-radius: 5px;
        border: 0.5px solid blue;
        background-color: dodgerblue;
        width: auto;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 15px;
        align-items: center;
    }
    .description aside {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 15px;
        position: relative;
        margin-left: 20px;
        padding-left: 0;
    }

    aside div p {
        color: black;
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
        margin: 0px 0px;
        padding-top: 10px;
    }
    .services-card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
    }

    .services-card .card {
        flex-direction: column;
        margin-bottom: 20px;
        flex-grow: 0.5; 
        flex-basis: 200;
    }

    .contact {
        margin-top: 30px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact button {
        border-radius: 5px;
        background-color: dodgerblue;
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 80px;
        align-items: center;
    }
    .container {
       
        flex-wrap: wrap;
        margin-left: 0;
        width: 100%;
    }

    .container div {
        flex-direction: column;
         flex-grow: 1;
        flex-basis: 100;
    }


    .newlester{
    background-image: url("./img/newlester.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
}
.newlester div{
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    
    /* float: right; */
    position: relative;
}
.newlester h2{
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.newlester form{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.newlester form button{
    text-decoration: none;
    width: 60%;
    background-color: rgba(62, 158, 255, 1);

    font-weight: 600;
    font-size: 15px;
    /* padding: 5px; */
    border-radius: 50px;
    border: none;
    cursor: pointer;
    line-height: 20px;
}
.newlester form button:hover{
    background-color: rgba(62, 158, 255, 0.6);

}
.newlester input{
    line-height: 10px;
    /* border-radius: 10px; */
    padding: 5px 15px;
    margin-bottom: 20px;
    outline: none;
    font-size: 15px;
    border: none;
    width: 80%;
}

}

@keyframes nav {
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}
@keyframes lien {
    to{
        transform: translateY(0);
    }
    from{
        transform: translateY(-100px);

    }
}
@keyframes button {
    to{
        transform: translateX(0);
    }
    from{
        transform: translateX(200px);

    }
}
@keyframes services {
    at{
        opacity: 1;
        transform: translateX(0);
        transform: scale(2, 2);

    }
    from{
        opacity: 0;
        
        transform: scale(0.1, 0.1);
    }
}