@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
    width: 0.6rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 5rem;
}

body {
    max-width: 100%;
    /* position: absolute; */
    font-family: "Open Sans",sans-serif;

}

/* barre de navigation */

.logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
}

.dark {
    font-size: 25px;
    margin-right: 20px;
}

nav {
    /* background-color: rgba(62, 158, 255, 0.9); */
    /* border-radius: 10px; */
    background-color: #fff;
    padding-top: 1rem;
    position: fixed;
    width: 100%;
    font-family: "Playfair Display",serif;

    z-index: 1000;
    box-shadow: 0px 0px 5px 0px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    font-size: 25px;
    font-weight: 600;
}

nav ul li {
    list-style-type: none;
    margin-right: 25px;
}

nav ul li a:hover {
    color: rgba(62, 158, 255, 0.9);
    transition: color 300ms;
    border-bottom: 3px solid rgba(62, 158, 255, 0.9);
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    justify-content: space-between;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
}

nav div button a {
    text-decoration: none;
    color: black;
}

.option button {
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 1px;
    border: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}

/* nav div button:hover{
    box-shadow: 2px 2px 5px;
    background-color: white; 
    border: 0.5px solid gray;
    background-color: #fff;
    color: #fff;
}   */

/* ****************************** */

/* entete de page */

header {
    margin: 50px 0px;
    padding-top: 100px;
    height: auto;
    /* border-top: 5px solid black ; */
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 5px;
}

header div {
    margin-top: 20px;
    margin-left: 50px;
    color: white;
}

header div span,
.description aside p span {
    color: dodgerblue;
}

header div h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

header div p {
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
}

header div button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: default;
}

.btn .header-contact {
    border: 1px solid dodgerblue;
    background-color: transparent;
}

.btn .header-contact:hover {
    background-color: rgba(62, 158, 255, 0.9);
}

header .btn {
    display: flex;
    justify-content: center;
}

header .btn button {
    border-radius: 5px;
    background-color: rgba(62, 158, 255, 0.9);
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    border: 0.3px solid blue;
}

header .btn button:hover {
    border: 1px solid dodgerblue;
    background-color: transparent;
    transition: all 700ms ease-in-out;
}

aside div img,
section img {
    height: 200px;
    width: auto;
}

/* partie servise digitale */

section .services-card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 20px 10px;

}

section .services-card .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.3px 2px darkgray;
}

section .services-card .card:hover {
    transform: translatey(-5px);
    box-shadow: 2px 2px 10px rgba(62, 158, 255, 0.7);
    transition: all 600ms ease-in-out;
    /* background-color: rgba(150, 10, 255, 0.1); */
}

.card p {
    letter-spacing: 1.3px;
    text-align: left;
    align-items: center;
    padding: 10px;
}
p ion-icon{
    color: #2563EB;
    font-size: 20px;
    padding-bottom: 0px;
}

/* ********************** */
/* ********************** */


section h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: 1px solid rgba(62, 158, 255, 0.5);
    ;
    padding-bottom: 20px;
}

input[type="button"] {
    background-color: rgba(62, 158, 255, 0.9);
    border-radius: 5px;
    border: 0.3px solid;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    /* position: static; */
    /* color: #fff; */
    text-transform: capitalize;
    /* text-overflow: clip; */
}

input[type="button"]:hover {
    border: 0.3px solid rgba(62, 158, 255, 0.9);
    background-color: transparent;
    color: black;
}

.card p span {
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0px;
}

/* partie about */


.description aside {
    display: flex;
    width: 60%;
    outline: none;
    background-color:rgba(175, 175, 175, 0.1);
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 15em;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.3px 2px rgba(175, 175, 175, 0.3);
    max-height: auto;
    border: none;
    animation: aside 5s ease-in;
    animation-direction: reverse;
    /* background-color: rgba(155, 159, 189, 0.2); */

}

aside div p {
    color: black;
    text-align: left;
    font-size: 30px;
    margin: 10px 70px;
    text-align: center;
}

.contact button {
    /* padding: 10px; */
    /* align-items: space-between; */
    border-radius: 5px;
    background-color: rgba(62, 158, 255, 0.9);
    width: auto;
    padding: 5px 15px;
    margin-bottom: 10px;
    align-items: center;
    border: 0.1px solid rgba(62, 158, 255, 0.9);

}

.contact button:hover {
    border: 1px solid rgba(62, 158, 255, 0.9);
    background-color: transparent;
    transition: all 700ms ease-in-out;

}

.contact a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.contact {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.container {
    background-color: rgba(175, 175, 175, 0.2);
    border-radius: 5px;
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    padding: 30px;

}

.container div {
    background-color: rgba(175, 175, 175, 0.5);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
    position: relative;
}
.container img{
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    
}
.container img:hover {
    transform: scale(1.1,1.1);
    /* transform: skew(-1deg,-1deg); */
}

/* petit bas de page simple */

footer {
    height: 100px;
    background-color: rgb(155, 159, 189);
    align-items: center;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
}

.star {
    /* background-color: yellow; */
    color: yellow;
    font-size: 30px;
}

/* .etoile{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;

} */
.conn {
    color: red;
}

.call {
    color: green;
}


footer a {
    color: #000;
    /* padding: 10px; */
    margin-left: 10px;
    font-size: 20px;
    justify-content: space-evenly;
}

/* .icon{
    display: flex;
} */
/* *************************** */


/* partie responsive */


@media all and (max-width: 800px) {
    .logo {
        display: none;
    }

    nav ul {
        display: flex;
        flex-basis: 200;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    nav {
        /* background-color: rgba(172, 172, 172, 0.8); */
        background-color: #fff;
    }

    nav div {
        display: flex;
        height: auto;
        width: auto;
        padding: 0;
        margin-left: 0;
    }

    .option button {
        margin-right: 10px;
        border-radius: 15px;
        padding: 0px 0px;
        border: none;
        width: 80px;
        height: auto;
        text-align: center;
        text-transform: capitalize;
        font-size: 15px;
        cursor: pointer;
    }

    nav ul li {
        list-style-type: none;
        margin-right: 30px;
        text-align: center;
        margin-bottom: 10px;
        flex-grow: 1;
        flex-basis: 200;
    }

    header div {
        margin-top: 100px;
    }

    header .btn {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    header .btn button {
        border-radius: 5px;
        border: 0.5px solid blue;
        background-color: dodgerblue;
        width: auto;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        align-items: center;
    }

    .description aside {
        display: flex;
        flex-direction: column;
        border: 1px solid;
        width: 70%;
        margin-left: 50px;
        padding-left: 0;
    }

    aside div p {
        color: black;
        text-align: left;
        font-size: 25px;
        padding-bottom: 1em;
    }

    .services-card {
        flex-grow: 1;
        flex-basis: 200;
        flex-wrap: wrap;
    }

    .services-card .card {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .contact {
        margin-top: 30px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact button {
        border-radius: 5px;
        border: 0.5px solid blue;
        background-color: dodgerblue;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 80px;
        align-items: center;
    }

    .etoile {
        display: none;

    }

    .container {
        flex-grow: 1;
        flex-basis: 100;
        flex-wrap: wrap;
        margin-left: 0;
    }

    .container div {
        display: flex;
        flex-direction: column;
    }


}

/* @keyframes aside {
    0%{
        transform: translatex(300px);
       visibility: hidden;
       display: none;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
        overflow: hidden;
    }
} */