@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
    width: 0.6rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 5rem;
}

body {
    max-width: 100%;
    position: absolute;
    /* font-family: "Open Sans", sans-serif; */
    /* background-color: #111; */
    transition: all 300ms ease-in;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* barre de navigation */

.menu {
    display: none;
}


.logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
}

.dark {
    font-size: 25px;
    margin-right: 20px;
}

/* .change {
    color: #fff;
}

.blanc {
    color: #fff;
}
*/
.fond {
    background-color: rgba(155, 159, 189, 0.3);

} 

/* .option div{
    color: #000;
} */
/* .option div .dark{
    color: white;
} */
/* .rot{
    transform: rotate(360deg);
    transition: transform 1s ease ;
    animation: rotate 1s  alternate backwards;
 }
 @keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
    0%{
        transform: rotate(0deg);
    }
 } */

nav {
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 1rem;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    font-family: "Playfair Display", serif;
    z-index: 1000;
    box-shadow: 0px 0px 5px 0px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul {
    display: flex;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 25px;
}

nav ul li {
    list-style-type: none;
    padding: 20px;
}

nav ul li a:hover {
    color: rgba(62, 158, 255, 0.9);
    transition: color 300ms;
    border-bottom: 3px solid rgba(62, 158, 255, 0.9);
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    font-size: 30px;
}

nav div button a {
    text-decoration: none;
    color: black;
}

div p {
    font-family: 'Montserrat', sans-serif;
}
.active {
    background-color: rgb(0, 20, 40);
    color: white;

    transition: all 400ms cubic-bezier(0.530, 0.480, 0.125, 0.810);
}
.span{
    color: white;
}

.rotate{
    transform: rotate(180deg);
    transition: transform  1s ease-out;
    color: white;
}
.option button {
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgba(62, 158, 255, 1);
    box-shadow: 0px 0px 1px;
    border: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
    

}

.option button:hover {
    background-color: rgba(62, 158, 255, 0.5);

}

/* ****************************** */

/* entete de page */

header {
    margin: 50px 0px;
    padding-top: 100px;
    height: auto;
    /* border-top: 5px solid black ; */
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 5px;
}

header div {
    margin-top: 20px;
    margin-left: 50px;
    color: white;
}

header div span,
.description aside p span {
    color: dodgerblue;
}

header div h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

div h1 {
    font-family: "Playfair Display", serif;
}

div h3 {
    font-family: "Open Sans", sans-serif;
}

header div p {
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
}

header div button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: default;
}

.btn .header-contact {
    border: 1px solid dodgerblue;
    background-color: transparent;
}

.btn .header-contact:hover {
    background-color: rgba(62, 158, 255, 0.9);
}

header .btn {
    display: flex;
    justify-content: center;
}

header .btn button {
    border-radius: 5px;
    background-color: rgba(62, 158, 255, 0.9);
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    border: 0.3px solid blue;
}

header .btn button:hover {
    border: 1px solid dodgerblue;
    background-color: transparent;
    transition: all 700ms ease-in-out;
}

aside div img,
section img {
    height: 200px;
    width: auto;
}

/* partie servise digitale */

section .services-card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 20px 10px;

}

section .services-card .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.3px 2px darkgray;
}

section .services-card .card:hover {
    transform: translatey(-5px);
    box-shadow: 2px 2px 10px rgba(62, 158, 255, 0.7);
    transition: all 600ms ease-in-out;
    /* background-color: rgba(150, 10, 255, 0.1); */
}

.card p {
    letter-spacing: 1.3px;
    text-align: left;
    align-items: center;
    padding: 10px;
}

p ion-icon {
    color: #2563EB;
    font-size: 20px;
    padding-bottom: 0px;
}

/* ********************** */
/* ********************** */


section h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: 1px solid rgba(62, 158, 255, 0.5);
    ;
    padding-bottom: 20px;
}

input[type="button"] {
    background-color: rgba(62, 158, 255, 0.9);
    border-radius: 5px;
    border: 0.3px solid;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    /* position: static; */
    /* color: #fff; */
    text-transform: capitalize;
    /* text-overflow: clip; */
}

input[type="button"]:hover {
    border: 0.3px solid rgba(62, 158, 255, 0.9);
    background-color: transparent;
    color: black;
}

.card p span {
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0px;
}

/* partie about */


.description aside {
    display: flex;
    width: 60%;
    outline: none;
    background-color: rgba(175, 175, 175, 0.1);
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 15em;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.3px 2px rgba(175, 175, 175, 0.3);
    max-height: auto;
    border: none;
    animation: aside 5s ease-in;
    animation-direction: reverse;
    /* background-color: rgba(155, 159, 189, 0.2); */

}

aside div p {
    color: black;
    text-align: left;
    font-size: 30px;
    margin: 10px 70px;
    text-align: center;
}

img {
    border-radius: 5px;
}

.contact button {
    /* padding: 10px; */
    /* align-items: space-between; */
    border-radius: 5px;
    background-color: rgba(62, 158, 255, 0.9);
    width: auto;
    padding: 5px 15px;
    margin-bottom: 10px;
    align-items: center;
    border: 0.1px solid rgba(62, 158, 255, 0.9);

}

.contact button:hover {
    border: 1px solid rgba(62, 158, 255, 0.9);
    background-color: transparent;
    transition: all 700ms ease-in-out;

}

.contact a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.contact {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.container {
    background-color: rgba(175, 175, 175, 0.2);
    border-radius: 5px;
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    padding: 30px;

}

.container div {
    background-color: rgba(175, 175, 175, 0.5);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
    position: relative;
}

.container img {
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;

}

.container img:hover {
    transform: scale(1.1, 1.1);
    /* transform: skew(-1deg,-1deg); */
}

/* petit bas de page simple */

footer {
    height: 100px;
    background-color: rgb(155, 159, 189);
    align-items: center;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
    border-top: 2px solid rgba(62, 158, 255, 0.9);
}

/* .star {
    background-color: yellow;
    color: yellow;
    font-size: 30px;
} */

/* .etoile{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;

} */
.conn {
    color: red;
}

/* 
.call {
    color: green;
} */

footer a {
    color: #000;
    /* padding: 10px; */
    margin-left: 10px;
    font-size: 20px;
    justify-content: space-evenly;
}

/* .icon{
    display: flex;
} */
/* *************************** */
/* menu bruger */


/* partie responsive */


@media all and (max-width: 899px) {
    .menu {
        display: block; 
        width: auto;
        float: right;
        padding: 0 10px;
    }
    .burger {
        cursor: pointer;
        color: #000;
        /* margin-left: -30px;     */
        font-size: 30px;
    }
    nav div ul {
        display: none;
    }

    nav button {
        display: none;
        /* position: relative; */
    }

    .present {
        display: block;
        /* width: 50%; */
        float: right;
        /* backdrop-filter: blur(20px); */
    }
    ul.present{
        /* margin-left: 8em; */
        text-align: right;
        justify-content: right;
        align-items: center;
        color: white;
    }
    .logo {
        display: block;
    }

    /* nav ul {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        padding: 0px 10px;
    } */

    /* nav ul li a {
        font-size: 20px;
        display: flex;

    } */

    nav {
        background-color: #fff;
        position: fixed;
        padding-top: 50px;
        margin-top: 0;
        height: auto;
        display: block;
        /* flex-direction: column; */
        width: 100%;
    }

    nav div {
        /* display: flex; */
        height: auto;
        width: auto;
        padding: 0;
        margin-left: 0;
    }

    .dark {
        margin-right: 10px;
        font-size: 15px;
        position: absolute;
        top: 5em;
        /* left: 7em; */
    }
    /* .option{
        position: absolute;
    top: 20px;
    left: 6em;
    } */
    .option button {
        margin-right: 10px;
        border-radius: 15px;
        padding: 5px;
        border: none;
        width: auto;
        height: auto;
        text-align: center;
        /* flex-direction: column; */
        
        text-transform: capitalize;
        font-size: 15px;
        cursor: pointer;
        margin-bottom: 15px;
        
    }

    /* nav ul li {
        list-style-type: none;
        text-align: center;
        margin-bottom: 10px;
        flex-grow: 1;
        flex-basis: 50px;
    } */

    header div {
        margin-top: 100px;
        margin-left: 0;
        padding-left: 10px;
        width: 100%;
        padding-top: 10px;
    }

    header div h1 {
        letter-spacing: 2px;
        text-align: center;
        font-size: 30px;
        /* font-weight: bold; */
    }

    header div p {
        letter-spacing: 1px;
        margin-top: 30px;
        text-align: center;
        font-style: italic;
        font-weight: 500;
        font-size: 20px;

    }

    header {
        margin: 30px 0px;
        padding-top: 50px;
        width: 100%;
        height: auto;
    }

    header .btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* margin-left: 30px; */
        justify-content: center;
    }

    header .btn button {
        border-radius: 5px;
        border: 0.5px solid blue;
        background-color: dodgerblue;
        width: auto;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 15px;
        align-items: center;
    }

    /* header div button a{
        padding: 0;
    } */
    .description aside {
        display: flex;
        flex-direction: column;
        /* border: 1px solid; */
        width: auto;
        margin-top: 15px;
        margin-left: 20px;
        padding-left: 0;
    }

    aside div p {
        color: black;
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
        margin: 0px 0px;
        padding-top: 10px;
    }

    /* aside div p {
    color: black;
    text-align: left;
    font-size: 30px;
    margin: 10px 70px;
    text-align: center;
} */
    .services-card {
        flex-grow: 1;
        flex-basis: 100;
        flex-wrap: wrap;
        width: 80%;
    }

    .services-card .card {
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 20px;
    }

    .contact {
        margin-top: 30px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact button {
        border-radius: 5px;
        /* border: 0.5px solid blue; */
        background-color: dodgerblue;
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 80px;
        align-items: center;
    }

    .etoile {
        display: none;

    }

    .container {
        flex-grow: 1;
        flex-basis: 100;
        flex-wrap: wrap;
        margin-left: 0;
        width: 80%;
        margin-left: 20px;
    }

    .container div {
        /* display: flex; */
        flex-direction: column;
    }


}

/* @keyframes aside {
    0%{
        transform: translatex(300px);
       visibility: hidden;
       display: none;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
        overflow: hidden;
    }
} */