*{
    margin: 0;
    padding: 0;
    font-family: tahoma sans-serif;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
  }
  
  html::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #fff;
  }
  
  html::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 5rem;
  }
body{
    max-width: 100%;
    position: absolute;
}

/* barre de navigation */

.logo{
    height: 60px;
    width: auto;
    margin-left: 20px;
}
nav{
    background-color: white;
    border-radius: 5px;
    padding: 1rem ;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    display: flex;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    align-items: center;
    font-size: 25px;
    box-sizing: border-box;
}
nav ul li {
    list-style-type: none;
   margin-right: 30px;
   text-align: center;
}
nav ul li :hover {
    border-bottom: 3px solid dodgerblue;
    border-radius: 5px;
}
nav ul li a{
    text-decoration: none;
   padding-bottom: 5px;
    text-transform: capitalize;
    padding: 2px 5px;
    color: black;
    cursor: default;
}
nav div button a{
    text-decoration: none;
    color: black;
}
nav div  {
    display: flex;
    justify-content:space-evenly;
    width: 20%;
    padding: 0;
    margin: 0;
}

.option button {
    margin-right: 10px;
    border-radius: 15px;
    padding: 0px 0px;
    border: none;
    width: 80px;
    height: auto;
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
}
nav div button:hover{
    box-shadow: 2px 2px 5px;
    background-color: white; 
}  

/* ****************************** */

/* entete de page */

header {
    margin-top: 30px;
    height: auto;

    border-top: 5px solid black ;
    background-image: url(img/favicon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 5px;
}
header div{
    margin-top: 20px;
    margin-left: 50px;
    letter-spacing: 2px;
    color: white;
}
header div span, .description aside p span{
    color: dodgerblue;
}
header div h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
header div p{
    letter-spacing: normal;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
}
header div button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: default;
}
header .btn{
    width: 38%;
    display: flex;
    justify-content: space-between;
}
header .btn button{
    border-radius: 5px;
    background-color:dodgerblue;
    width: 150px;
    padding: 10px;
     margin-bottom: 10px;
     align-items: center;
     border: 0.3px solid blue;
}
header .btn button:hover{
  border: 1px solid dodgerblue;
  background-color: transparent;
  transition: all 700ms ease-in-out;
}

aside div img , section img{
    height: 200px;
   width: auto;
}

/* partie servise digitale */

section .services-card{
display: flex;
width: 100%;
justify-content: space-evenly;
border-radius: 5px;
margin: 20px 10px;

}
section .services-card .card{
display: flex;
flex-direction: column;
width: 250px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.3px 2px darkgray;
}
section .services-card .card:hover{
transform: translatey(-5px);
    transition: all 600ms ease-in-out;
    background-color: rgba(150, 10, 255, 1);
}
.card p{
    letter-spacing: 1.3px;
    text-align: left;
    align-items: center;
    padding: 10px;
}
/* ********************** */
/* ********************** */


section h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: 5px solid dodgerblue;
    padding-bottom: 20px;
}
input[type="button"]{
    background-color: blue;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
    position: static;
    color: #fff;
    text-transform: capitalize;
    text-overflow: clip;
}
input[type="button"]:hover{
  background-color: white;
  color: black;
}
.card p span{
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0px;
}

/* partie about */


.description aside{
    display: flex;
    width: 60%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 15em;
    text-align: center;
     border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.3px 2px darkgray;
max-height: auto;
border: none;
animation: aside 5s ease-in;
    animation-direction: reverse;
    background-color: rgba(155, 159, 189,0.2);
    
}
aside div p {
    color: black;
    text-align: left;
    font-size: 30px;
    margin: 10px 70px;
    text-align: center;
}
.contact button{
    padding: 10px;
    align-items: space-between;
     border-radius: 5px;
    background-color:dodgerblue;
    width: 150px;
    padding: 10px;
     margin-bottom: 10px;
     align-items: center;
     border: 0.3px solid blue;

}
.contact button:hover{
  border: 1px solid dodgerblue;
  background-color: transparent;
  transition: all 700ms ease-in-out;

}
.contact a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.contact{
    margin-top: 30px;
     display: flex;
    justify-content: space-evenly;
    width: 80%;
}

/* petit bas de page simple */

footer{
    height: 100px;
    background-color: rgb(155, 159, 189);
    align-items: center;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
}

.star{
    /* background-color: yellow; */
    color: yellow;
    font-size: 30px;
}
.etoile{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;

}
.conn{
    color: red;
}
.call{
    color: green;
}


footer a{
    color: #000;
    /* padding: 10px; */
    margin-left: 10px;
    font-size: 20px;
    justify-content: space-evenly;
}
/* .icon{
    display: flex;
} */
/* *************************** */


/* partie responsive */


@media  all  and (max-width: 800px) {
    .logo{
        display: none;
    }
    nav ul {
    display: flex;
    flex-basis: 200;
    margin-top: 30px;
    flex-wrap: wrap;
}
nav{
    background-color: rgb(45, 106, 221);
}
nav div  {
    display: flex;
    height: 30px;
    width: auto;
    padding: 0;
    margin-left: 0;
}

.option button {
    margin-right: 10px;
    border-radius: 15px;
    padding: 0px 0px;
    border: none;
    width: 80px;
    height: auto;
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}
nav ul li {
    list-style-type: none;
   margin-right: 30px;
   text-align: center;
    margin-bottom: 10px;
    flex-grow: 1;
    flex-basis: 200;
}
header div{
    margin-top: 100px;
}
header .btn{
    width: 70%;
    display: flex;
    flex-direction: column;
}
header .btn button{
    border-radius: 5px;
    border: 0.5px solid blue;
    background-color:dodgerblue;
    width: auto;
    padding: 10px;
    margin-top: 10px;
     margin-bottom: 15px;
     align-items: center;
}
.description aside{
    display: flex;
    flex-direction: column;
    border: 1px solid ;
    width: 90%;
    margin-left: 50px;
    padding-left: 0;
}

aside div p {
    color: black;
    text-align: left;
    font-size: 25px;
    padding-bottom: 1em;
}
.services-card{flex-grow: 1;
    flex-basis: 200;
flex-wrap: wrap;
}
.services-card .card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.contact{
    margin-top: 30px;
      width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact button{
border-radius: 5px;
    border: 0.5px solid blue;
    background-color:dodgerblue;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
     margin-bottom: 15px;
     margin-left: 80px;
     align-items: center;
}

}

/* @keyframes aside {
    0%{
        transform: translatex(300px);
       visibility: hidden;
       display: none;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
        overflow: hidden;
    }
} */
