*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
   background-color: rgb(0, 30, 60);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.formul-box{
    position: relative;
    width: 500px;
    height: 550px;
    /* border: 2px solid white; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
     /* background: url("inscription.png") no-repeat; */
    /* background-position: right ;
    background-attachment: fixed;
    background-size: cover; */
    /* min-height: 100vh; */
    /* width: 100%; */
}
.formul-box h2{
    color: #fff;
    text-align: center;
    font-size: 35px;
}
.formul-box .input-box{
    position: relative;
    margin: 30px 0;
    width: 350px;
    border-bottom: 0.7px solid gray;
} 
input[type="text"],input[type="Email"]{
    font-size: 25px;
}
.formul-box .input-box input{
    width: 300px;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    /* color: #fff */
} 
input::placeholder{
    color: #fff;
    font-size: 20px;
    opacity: 0.7;
}
.btn{
    color: #fff;
    background: dodgerblue;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
    transition: background 600ms ease;
}
.btn:hover{
    background-color: transparent;
}
.group{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.group span a{
    color: #fff;
    position: relative;
    /* top: 10px; */
    text-decoration: none;
} 
.group a:hover{
    text-decoration: underline;

}